.page-background {
    background-color: #8888da;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #8888da 10px ), repeating-linear-gradient( #444cf755, #444cf7 );
    background-repeat: repeat;
}
