.recipe-info {
    width: 600px;
    height: 300px;
    border-radius: 20px;
}

.gulasz {
    background-image: url("../../../assets/img/gulasz.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
    border-radius: 25px;
}

.pasta {
    background-image: url("../../../assets/img/pasta.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
    border-radius: 25px;
}

.roladki {
    background-image: url("../../../assets/img/roladki.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
    border-radius: 25px;
}

.zupa {
    background-image: url("../../../assets/img/zupa.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
    border-radius: 25px;
}